<app-header></app-header>
<div class="container about-container">
  <h1 class="text-center mb-5">Meet Our Developers</h1>
  <div class="row justify-content-center">


    <div class="col-md-4">
      <div class="card developer-card text-center p-4">
        <img src="logoProject.jpg" alt="Developer 1" class="profile-pic mx-auto">
        <div class="developer-info mt-3">
          <h3>Ameni Abidi</h3>
          <p><strong>Level:</strong> 2 eme</p>
          <p class="ambitions">"Dif rhr h hrier pakoja za mjjis "</p>
        </div>
      </div>
    </div>


    <div class="col-md-4">
      <div class="card developer-card text-center p-4">
        <img src="logoProject.jpg" alt="Developer 2" class="profile-pic mx-auto">
        <div class="developer-info mt-3">
          <h3>Salsabil Maali</h3>
          <p><strong>Level:</strong> 2 emee</p>
          <p class="ambitions">"Dif rhr h hrier pakoja za mjjis "</p>
        </div>
      </div>
    </div>

  </div>
</div>

<app-footer></app-footer>